In [32]:
import pandas as pd
import datetime
from datetime import datetime, timedelta
from datetime import date # todays date

In [33]:
df = pd.read_csv("https://covid19.who.int/WHO-COVID-19-global-data.csv")
df = df.loc[df.Country=='Germany']

In [34]:
today = date.today().strftime("%d.%m.%Y")
print(today)

17.07.2021

In [35]:
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

In [36]:
a = str(date.today().strftime("%Y-%m-%d"))
print(a)
# tage = days_between(a, "2020-03-01")
tage = days_between(a, "2021-07-10")
print(tage)

2021-07-17
7

In [37]:
print(datetime.today())

ts_x = str(datetime.today() - timedelta(tage))
ts_x = str(datetime.today() - timedelta(tage))

ts = pd.to_datetime(ts_x, utc=True)
print(ts)

2021-07-17 11:08:20.395732
2021-07-10 11:08:20.395732+00:00

In [38]:
df['Date_reported'] = pd.to_datetime(df.Date_reported, utc=True)

df = df.loc[df.Date_reported >= ts, :]

In [39]:
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
44309,2021-07-11 00:00:00+00:00,DE,Germany,EURO,745,3736165,6,91231
44310,2021-07-12 00:00:00+00:00,DE,Germany,EURO,324,3736489,2,91233
44311,2021-07-13 00:00:00+00:00,DE,Germany,EURO,646,3737135,26,91259
44312,2021-07-14 00:00:00+00:00,DE,Germany,EURO,1548,3738683,28,91287
44313,2021-07-15 00:00:00+00:00,DE,Germany,EURO,1642,3740325,32,91319
44314,2021-07-16 00:00:00+00:00,DE,Germany,EURO,1456,3741781,18,91337