In [129]:
import pandas as pd
from datetime import datetime as dt

In [130]:
pfad = "D:\\Github\\Auswertung_Covid_19\\input\\data-ovyiI.csv"

In [131]:
df = pd.read_csv(pfad)
df

                          date  COVID-19-Fälle
0    2020-03-20T12:15:00+01:00             200
1    2020-03-21T12:15:00+01:00             308
2    2020-03-22T12:15:00+01:00             364
3    2020-03-23T12:15:00+01:00             451
4    2020-03-24T12:15:00+01:00             616
..                         ...             ...
614  2021-11-24T12:15:00+01:00            4053
615  2021-11-25T12:15:00+01:00            4182
616  2021-11-26T12:15:00+01:00            4302
617  2021-11-27T12:15:00+01:00            4339
618  2021-11-28T12:15:00+01:00            4432

[619 rows x 2 columns]

In [132]:
df.dtypes

date              object
COVID-19-Fälle     int64
dtype: object

In [140]:
df["date"] = pd.to_datetime(df["date"], utc=True)
df.dtypes

date              datetime64[ns, UTC]
COVID-19-Fälle                  int64
dtype: object

In [133]:
# today = date.today().strftime("%Y-%m-%d")
today = date.today()
today

datetime.date(2021, 12, 4)

In [134]:
today = pd.to_datetime(today, utc=True)
today

Timestamp('2021-12-04 00:00:00+0000', tz='UTC')

Timestamp('2021-11-01 00:00:00+0000', tz='UTC')

In [146]:
# Datum Filter
ts = pd.to_datetime('2021-11-01', utc=True)
df = df.loc[df.date >= ts, :]
df

                         date  COVID-19-Fälle
591 2021-11-01 11:15:00+00:00            2054
592 2021-11-02 11:15:00+00:00            2132
593 2021-11-03 11:15:00+00:00            2220
594 2021-11-04 11:15:00+00:00            2326
595 2021-11-05 11:15:00+00:00            2411
596 2021-11-06 11:15:00+00:00            2441
597 2021-11-07 11:15:00+00:00            2533
598 2021-11-08 11:15:00+00:00            2613
599 2021-11-09 11:15:00+00:00            2678
600 2021-11-10 11:15:00+00:00            2732
601 2021-11-11 11:15:00+00:00            2818
602 2021-11-12 11:15:00+00:00            2852
603 2021-11-13 11:15:00+00:00            2925
604 2021-11-14 11:15:00+00:00            3021
605 2021-11-15 11:15:00+00:00            3177
606 2021-11-16 11:15:00+00:00            3271
607 2021-11-17 11:15:00+00:00            3362
608 2021-11-18 11:15:00+00:00            3412
609 2021-11-19 11:15:00+00:00            3495
610 2021-11-20 11:15:00+00:00            3547
611 2021-11-21 11:15:00+00:00            3660
612 2021-11-22 11:15:00+00:00            3833
613 2021-11-23 11:15:00+00:00            3971
614 2021-11-24 11:15:00+00:00            4053
615 2021-11-25 11:15:00+00:00            4182
616 2021-11-26 11:15:00+00:00            4302
617 2021-11-27 11:15:00+00:00            4339
618 2021-11-28 11:15:00+00:00            4432

In [150]:
df1 = pd.read_csv("https://covid19.who.int/WHO-COVID-19-global-data.csv")
df1 = df1.drop(columns=['Country_code', 'WHO_region', 'Cumulative_deaths', 'Cumulative_cases'])
df1['Date_reported'] = pd.to_datetime(df1.Date_reported, utc=True)
df1 = df1.loc[df1.Date_reported >= ts, :]
df1 = df1[df1.New_cases != 0]
df1 = df1.loc[df1.Country == "Germany"]
df1

                  Date_reported  Country  New_cases  New_deaths
55346 2021-11-01 00:00:00+00:00  Germany       9658          23
55347 2021-11-02 00:00:00+00:00  Germany      10813          81
55348 2021-11-03 00:00:00+00:00  Germany      20398         194
55349 2021-11-04 00:00:00+00:00  Germany      33949         165
55350 2021-11-05 00:00:00+00:00  Germany      37120         154
55351 2021-11-06 00:00:00+00:00  Germany      34002         142
55352 2021-11-07 00:00:00+00:00  Germany      23543          37
55353 2021-11-08 00:00:00+00:00  Germany      15513          33
55354 2021-11-09 00:00:00+00:00  Germany      21832         169
55355 2021-11-10 00:00:00+00:00  Germany      39676         236
55356 2021-11-11 00:00:00+00:00  Germany      50196         235
55357 2021-11-12 00:00:00+00:00  Germany      48640         191
55358 2021-11-13 00:00:00+00:00  Germany      45081         228
55359 2021-11-14 00:00:00+00:00  Germany      33498          55
55360 2021-11-15 00:00:00+00:00  Germany      23607          43
55361 2021-11-16 00:00:00+00:00  Germany      32048         265
55362 2021-11-17 00:00:00+00:00  Germany      52826         294
55363 2021-11-18 00:00:00+00:00  Germany      65371         264
55364 2021-11-19 00:00:00+00:00  Germany      52970         201
55365 2021-11-20 00:00:00+00:00  Germany      63924         248
55366 2021-11-21 00:00:00+00:00  Germany      42727          75
55367 2021-11-22 00:00:00+00:00  Germany      30643          62
55368 2021-11-23 00:00:00+00:00  Germany      45326         309
55369 2021-11-24 00:00:00+00:00  Germany      66884         335
55370 2021-11-25 00:00:00+00:00  Germany      75961         351
55371 2021-11-26 00:00:00+00:00  Germany      76414         357
55372 2021-11-27 00:00:00+00:00  Germany      67125         303
55373 2021-11-28 00:00:00+00:00  Germany      44401         104
55374 2021-11-29 00:00:00+00:00  Germany      29364          73
55375 2021-11-30 00:00:00+00:00  Germany      45753         388
55376 2021-12-01 00:00:00+00:00  Germany      67186         446
55377 2021-12-02 00:00:00+00:00  Germany      73209         388
55378 2021-12-03 00:00:00+00:00  Germany      74352         390

In [153]:
df.merge(right2, left_on='keyLeft', right_on='keyRight', how='inner')

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [152]:
df

                         date  COVID-19-Fälle
591 2021-11-01 11:15:00+00:00            2054
592 2021-11-02 11:15:00+00:00            2132
593 2021-11-03 11:15:00+00:00            2220
594 2021-11-04 11:15:00+00:00            2326
595 2021-11-05 11:15:00+00:00            2411
596 2021-11-06 11:15:00+00:00            2441
597 2021-11-07 11:15:00+00:00            2533
598 2021-11-08 11:15:00+00:00            2613
599 2021-11-09 11:15:00+00:00            2678
600 2021-11-10 11:15:00+00:00            2732
601 2021-11-11 11:15:00+00:00            2818
602 2021-11-12 11:15:00+00:00            2852
603 2021-11-13 11:15:00+00:00            2925
604 2021-11-14 11:15:00+00:00            3021
605 2021-11-15 11:15:00+00:00            3177
606 2021-11-16 11:15:00+00:00            3271
607 2021-11-17 11:15:00+00:00            3362
608 2021-11-18 11:15:00+00:00            3412
609 2021-11-19 11:15:00+00:00            3495
610 2021-11-20 11:15:00+00:00            3547
611 2021-11-21 11:15:00+00:00            3660
612 2021-11-22 11:15:00+00:00            3833
613 2021-11-23 11:15:00+00:00            3971
614 2021-11-24 11:15:00+00:00            4053
615 2021-11-25 11:15:00+00:00            4182
616 2021-11-26 11:15:00+00:00            4302
617 2021-11-27 11:15:00+00:00            4339
618 2021-11-28 11:15:00+00:00            4432